{% load i18n %}{% load url from future %}
<p>
{% url "notification_notices" as notices_url %}
You have received the following notice from {{ current_site }}:
</p>

{{ message }}

<p>
To see other notices or change how you receive notifications, please go to {{ default_http_protocol }}://{{ current_site }}{{ notices_url }}
</p>